<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}">

        <link rel="icon" href="data:;base64,=">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        <title>Form: Party</title>
    </head>
    <body>
      {% include "navbar.html" %}

      <form id="form">

      <div class="container">
        <div class="row">
          <div class="col">
            <h1>Party Form</h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
              <label for="host-net-id">Host Name*</label>
              <input type="text" name="host-name" placeholder='Enter Your Name' id="host-name" required>
          </div>
          <div class="col">
              <label for="event-type">Event Type*</label>
              <input type="text" name="event-type" value='Party' id="event-type" readonly="readonly" required>
          </div>
        </div>

        <div class="row">
          <div class="col">
              <label for="event-title">Event Title*</label>
              <input type="text" name="event-title" placeholder='Event Title' id="event-title" required>
          </div>
          <div class="col">
              <label for="event-title">Date*</label>
              <input type="date" name="date" id="date" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" required>
          </div>
        </div>

        <div class="row">
          <div class="col">
              <label for="start-time">Start Time*</label>
              <input class="timepicker" name="start-time" id="start-time" required>
          </div>
          <div class="col">
              <label for="end-time">End Time</label>
              <input class="timepicker" name="end-time" id="end-time">
          </div>
        </div>

        <div class="row">
            <div class="col">
              <label for="phone-number">Phone Number</label>
              <input type="tel" placeholder="(xxx) xxx-xxxx" name="phone-number" id="phone-number" pattern="(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <label for="loc">Location*</label>
              <input list="locations" id="loc" required>
              <datalist id="locations">
                  <option value="Cannon Dial Elm Club">
                  <option value="Tower Club">
                  <option value="Terrace Club">
                  <option value="Cloister Inn">
                  <option value="Cap & Gown Club">
                  <option value="Ivy Club">
                  <option value="Quadrangle Club">
                  <option value="Charter Club">
                  <option value="Cottage Club">
                  <option value="Tiger Inn">
                  <option value="Colonial Club">
                  <option value="Prospect House & Garden">
                  <option value="Fountain of Freedom">
                  <option value="Butler College">
                  <option value="Matthey College">
                  <option value="Whitman College">
                  <option value="Rockefeller College">
                  <option value="First College">
              </datalist>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <label for="max-students">Max Students</label>
              <input type="number" name="max-students" id="max-students">
            </div>
        </div>

        <div class="row">
            <div class="col">
              <label for="description">Message from host</label>
              <input type="text" name="description" id="description" class="form-control">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
              <input id="submit" class="btn btn-dark" type="submit" onclick="submitForm()" value="Create Your Event">
            </div>
        </div>
      </div>
      </form>
      <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
      <script>
          $("#form").submit(function(e) {
            e.preventDefault();
          });

          function handleResponse(response) {
            alert(response);
            window.location.href = "/index";
          };

          var request = null;

          function submitForm() {
            var host_name = $('#host-name').val();
            var event_type = $('#event-type').val();
            var event_title = $('#event-title').val();
            var date = $('#date').val();
            var start_time = $('#start-time').val();
            var end_time = $('#end-time').val();
            var phone_number = $('#phone-number').val();
            var loc = $('#loc').val();
            var min_students = $('#min-students').val();
            var max_students = $('#max-students').val();
            var description = $('#description').val();

            console.log(start_time);
            console.log(phone_number);

            if (host_name != '' && event_type != '' && event_title != '' && date != '' && start_time != '' && loc != '') {
                host_name = encodeURIComponent(host_name);
                event_type = encodeURIComponent(event_type);
                event_title = encodeURIComponent(event_title);
                date = encodeURIComponent(date);
                start_time = encodeURIComponent(start_time);
                end_time = encodeURIComponent(end_time);
                phone_number = encodeURIComponent(phone_number);
                loc = encodeURIComponent(loc);
                min_students = encodeURIComponent(min_students);
                max_students = encodeURIComponent(max_students);
                description = encodeURIComponent(description);

                var url = '/save_form?host_name=' + host_name
                   + '&event_type=' + event_type
                   + '&event_title=' + event_title
                   + '&date=' + date
                   + '&start_time=' + start_time
                   + '&end_time=' + end_time
                   + '&phone_number=' + phone_number
                   + '&loc=' + loc
                   + '&min_students=' + min_students
                   + '&max_students=' + max_students
                   + '&description=' + description

                console.log(url);

                if (request != null) {
                     request.abort();
                   }

                 request = $.ajax(
                   {
                     type: 'POST',
                     url: url,
                     success: handleResponse
                   }
                 );
             }
          };

          // Used to format phone number
          function phoneFormatter() {
            $('#phone-number').on('input', function() {
              var number = $(this).val().replace(/[^\d]/g, '')
              if (number.length == 7) {
                number = number.replace(/(\d{3})(\d{4})/, "$1-$2");
              } else if (number.length == 10) {
                number = number.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
              }
              $(this).val(number)
            });
          };

          $(phoneFormatter);

          $(document).ready(function(){
             $('input.timepicker').timepicker({});
         });

      </script>
    </body>
</html>
