<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}"/>

        <link rel="icon" href="data:;base64,="/>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>


        <title>Tiger PickUps</title>
        <style>
          #navbar {
            position: absolute;
            display: block;
            width: 100%;
            height: 60px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            z-index: 1;
          }

          img {
            filter: drop-shadow(0 0 1rem orange);
          }

          #searchList {
            overflow: hidden;
            overflow-y: scroll;
          }


        </style>
    </head>
    <body>
      {% include "navbar.html" %}

      <div id="mapid" style="width: 100vw; height: 100vh; position: absolute;">
      </div>
      <!-- <div id="buttonContainer" style="width: 16vw; height: 10vh; top: 10vh; position: absolute; z-index: 1000;">
        <form action="/select_activities" method="get">
          <center>
            <button id="all" class="btn btn-info" name="event_type" type="submit" value="all">Show all</button><br>
            <button id="Party" class="btn btn-info" name="event_type" type="submit" value="Party">Parties</button>
            <button id="Sports" class="btn btn-info" name="event_type" type="submit" value="Sports">Sports</button>
            <button id="General" class="btn btn-info" name="event_type" type="submit" value="General">General</button>
          </center>
        </form>
      </div> -->
      <div id="searchList" style="width: 16vw; height: 60vh; top: 10vh; position: absolute; z-index: 1000; background-color: rgba(255,255,255,0.5);">
        {% for activity in activities %}
        <button id='{{activity[0]}}' type="button" class="btn btn-light {{activity[4]}}" style="width:100%;">
          <b>{{activity[3]}}</b><br>
          Type: {{activity[4]}}<br>
          Time: {{activity[6]}} - {{activity[8]}}<br>
          Host: {{activity[2]}}
        </button><br>
        {% endfor %}
      </div>
      <div id="searchField" style="width: 16vw; height: 30vh; bottom: 0vh; position: absolute; z-index: 1000; padding-top: 1vh; background-color: rgba(255,255,255,0.5);">
        <center>
        <form action="/select_activities" method="get">
          <label for="event_type">Event Type</label> <input list="event_types" name="event_type" value={{event_type}} id="event_type" style="width: 8vw;"> <br>
          <datalist id="event_types">
               <option value="All">
               <option value="Parties">
               <option value="Sports">
               <option value="General">
          </datalist>
          <label for="date">Date</label> <input type="date" name="date" id="date" value={{date}} style="width: 12vw;">
          <input type="text" name="search" placeholder="Search here" />
          <br><br>
          <button type="submit" class="btn btn-info">Search</button>
        </form>
      </center>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script>
        var mymap = L.map('mapid').setView([40.349193, -74.659288], 15);
        mymap.addLayer(new L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: '{{mapbox_access_token}}'
        }));

        var partyIcon = L.icon({
            iconUrl: '/static/images/party-icon.png',
            iconSize: [40, 40]
        });

        var sportsIcon = L.icon({
            iconUrl: '/static/images/sports-icon.png',
            iconSize: [40, 35]
        });

        var generalIcon = L.icon({
            iconUrl: '/static/images/general-icon.png',
            iconSize: [30, 30]
        });

        var markersLayer = new L.LayerGroup();	//layer contain searched elements

      	mymap.addLayer(markersLayer);

        // Place all activities on map
        // id, host_net_id, host_name, title, type, date, start_time, end_time, phone_number, location, lat, lon, min_students, max_students, description
        {% for activity in activities %}
        var lat = {{activity[10]}};
        var lon = {{activity[11]}};
        var title = '{{activity[3]}}';
        {% if activity[4]=="Party" %}
        var icon = partyIcon;
        {% endif %}
        {% if activity[4]=="Sports" %}
        var icon = sportsIcon;
        {% endif %}
        {% if activity[4]=="General" %}
        var icon = generalIcon;
        {% endif %}
        console.log(title);
        var marker{{activity[0]}} = new L.marker(new L.latLng([lat, lon]), {icon: icon}, {title: title}); // .addTo(mymap);
        marker{{activity[0]}}.bindPopup("<b>Host:</b> {{activity[2]}} <br>\
                          <b>Location:</b> {{activity[9]}} <br>\
                          <b>Phone Num:</b> {{activity[8]}} <br>\
                          <b>Min Students:</b> {{activity[12]}} <br>\
                          <b>Max Students:</b> {{activity[13]}} <br>\
                          <b>Host Message:</b> {{activity[14]}} <br>\
                          <a href=\"https://www.google.com/maps/dir/?api=1&destination={{activity[9]}}\" target=\"_blank\">Get Directions</a>").on('click', function(e) {
                            mymap.setView(e.target.getLatLng());
                          });

        document.getElementById('{{activity[0]}}').addEventListener('click', function() {
          console.log({{activity[0]}});
          marker{{activity[0]}}.fire('click');
        });
        markersLayer.addLayer(marker{{activity[0]}});
        {% endfor %}

        console.log(markersLayer);

        if (window.location.pathname == "/") {
          var popup = L.popup()
              .setLatLng([40.349193, -74.659288])
              .setContent("<h4>Welcome to Tiger Pickups!</h4>\
              <br>\
              <b>You can:</b>\
              <ul><li>Search for Campus Activities</li>\
              <li>Create Activities for Friends to Join</li>\
              </ul>\
              **Open only to Princeton students**")
              .openOn(mymap);
          }

          mymap.zoomControl.setPosition('bottomright');
      </script>



    </body>
</html>
