<!DOCTYPE html>
<html>
    <head>
        <title>Tiger PickUps</title>
    </head>
    <body>
      <h1>Activity Search</h1>
      <hr>
      <h2>Create Activity</h2>
      <form action method="get">
        <table>
          <tbody>
            <tr>
              <td align="right">Name:</td>
              <td>
                  <input type="text" name="name" required>
                <br>
              </td>
            </tr>
            <tr>
              <td align="right">Place:</td>
              <td>
                  <input type="text" name="place" required>
                <br>
              </td>
            </tr>
            <tr>
              <td align="right">Start Time:</td>
              <td>
                  <input type="time" name="starttime" required>
                <br>
              </td>
            </tr>
            <tr>
              <td align="right">End Time:</td>
              <td>
                  <input type="time" name="endtime" required>
                <br>
              </td>
            </tr>
            <tr>
              <td align="right">Description:</td>
              <td>
                  <input type="text" name="description">
                <br>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input type="submit">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <hr>

      <h2>Activity List</h2>
      <table>
        <tbody>
          <tr>
            <td>
              <strong>Name</strong>
            </td>
            <td>
              <strong>Place</strong>
            </td>
            <td>
              <strong>Start Time</strong>
            </td>
            <td>
              <strong>End Time</strong>
            </td>
            <td>
              <strong>Description</strong>
            </td>
          </tr>
          {% for activity in activities %}
          <tr>
            <td>
              {{activity[1]}}
            </td>
            <td>
              <a href = {{activity[6]}} target="_blank">
              {{activity[2]}}
              </a>
            </td>
            <td>
              {{activity[3]}}
            </td>
            <td>
              {{activity[4]}}
            </td>
            <td>
              {{activity[5]}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </body>
</html>
